<html>
  <head>
    <title>{{title}} logger</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
  </head>
  <body>
    <div id="container">
      <div class="content">
        <div class="topbar">
          <div class="topbar__left">
              <h1>{{title}}</h1>
              
              {{#if show_info}}
                <div class="topbar__navigation">
                  <a class="show-info" href="#about">About</a>
                  <a class="show-info" href="#curl">cURL</a>
                  <a class="show-info" href="#node"><i class="devicon-nodejs-plain"></i></a>
                  <a class="show-info" href="#php"><i class="devicon-php-plain"></i></a>
                  <a href="{{github}}" target="_blank"><i class="devicon-github-plain"></i></a>
                </div>
              {{/if}}
          </div>
          <div class="topbar__right">
            <div id="clear">
              <span class="clear__confirm">Careful 😳 Click again to clear all your logs <span class="clear__cancel">&times;</span></span>
              <button>Clear Logs</button>
            </div>
          </div>
        </div>
        <div id="log">
          
        </div>
      </div>
    </div>
    
    {{#if show_info}}
      <div id="peashooter-info">
        <div class="content">
          <div id="peashooter-info__close">&times;</div>
          <ul class="navigation">
            <li>
              <a href="#about" class="is-active">About</a>
            </li>
            <li>
              <a href="#curl">cURL</a>
            </li>
            <li>
              <a href="#node"><i class="devicon-nodejs-plain"></i> Node</a>
            </li>
            <li>
              <a href="#php"><i class="devicon-php-plain"></i> PHP</a>
            </li>
            <li>
              <a href="{{github}}" target="_blank"><i class="devicon-github-plain"></i> GitHub</a>
            </li>
          </ul>
          <div class="tabs">
            <div id="about" class="tab is-active">
              <h2>About peashooter</h2>
              <p>I made this for a friends project who needed an easy way to log output from his home-made 360 camera. (Yes it is as cool as it sounds - read about it on <a href="http://dcc.umd.edu/portfolio/bbock">his blog</a>).</p>
              <p>This project is 💯 open source. You can, clone, fork, dice, and slice this any way you want. You can find instructions to run your own peashooter log <a href="{{github}}">here</a>. If there's something you want in it, make a pull request! Any suggestions and bug reports are <a href="{{github}}/issues">welcome</a>.</p>

              <div class="coffee-pleeeeease">
                <h3>You a big fan of this project?</h3>
                <p>Buy me a cup of coffee ☕! Want to do it irl? Drop me a <a href="mailto:me@avigoldman.com">line</a>.</p>
              </div>
            </div>
            <div id="curl" class="tab">
              <pre>curl --request POST \
    --url {{url}}/log \
    {{#if use_auth}}
    -u {{user}}:{{pass}} \
    {{/if}}
    --header 'content-type: text/plain' \
    --data 'Your message goes here'</pre>
            </div>
            <div id="node" class="tab">
              <pre>const request = require('request');

request.post({
  url: '{{url}}/log',
  body: 'Your message goes here',
  headers: {
    'Content-Type': 'text/plain',
  },
  {{#if use_auth}}
  'auth': {
    'user': '{{user}}',
    'pass': '{{pass}}',
  }
  {{/if}}
}, function (error, response, body) {
  console.log('error:', error);
  console.log('statusCode:', response &amp;&amp; response.statusCode);
  console.log('body:', body);
});</pre>
            </div>
            <div id="php" class="tab">
              <pre>&lt;?php

$curl = curl_init();

curl_setopt($curl, CURLOPT_URL, '{{url}}/log');
curl_setopt($curl, CURLOPT_CUSTOMREQUEST, 'POST');
curl_setopt($curl, CURLOPT_USERPWD,  "{{user}}:{{pass}}");
curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
curl_setopt($curl, CURLOPT_HTTPHEADER, [ 'Content-Type: text/plain' ]);\

curl_setopt($curl, CURLOPT_POSTFIELDS, 'Your message goes here');

$result = curl_exec($curl);
curl_close($curl);

print_r($result);</pre>
            </div>
          </div>
        </div>
      </div>
    {{/if}}


    <div id="default-log">
      <h2 class="text-center">Get Started</h2>
      <p class="text-center">Run this code in your terminal to log your first message.</p>
      <pre>curl --request POST \
  --url {{url}}/log \
  {{#if use_auth}}
  -u {{user}}:{{pass}} \
  {{/if}}
  --header 'content-type: text/plain' \
  --data 'Your message goes here'</pre>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="log.js"></script>
    <script src="dashboard.js"></script>
  </body>
</html>